<% include partials/header %>
    
    <div id="landing-header">
     <h1>Welcome to YelpCamp!</h1>
     <p>Here you can find our best campsites</p>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>